@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');


.navbar {
    background-color: #90CAF9 !important;
}

.navbar-toggler {
    border-color: black !important;
    border-width:2px;
}
.nav-link {
    font-family: roboto, sans-serif;
    font-size: 1em;
}
.icono{
   margin-left: 10px;
    margin-right: 15px;
    height: 27px;
    width: 27px;
}

#miCarousel1 {
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#miCarousel {
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 10px;
    text-align: justify;
}
h1 {
    text-align: center;
    color: black;
    font-family: "Roboto Black";
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}
.col {
    background-color: #90CAF9;
    
   }
.futbot {
    color: #ffffff;
    background-color: #FF7043;
}
.icn {
    float: right;
    margin-bottom: auto;
    position: fixed;
    bottom: 50px;
    right: 20px;
       
}

.icn:hover{
     -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

}
.line {
    padding-bottom: 10px;
}
.ic {
    width: 30px;
    height: 30px;
    
  }
.for{
    min-height:calc(100vh - 100px - 300px);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.container fluid {
    display: inline;
    margin-top: 100px;
    margin-bottom: 80px;
}



.p {
    
    padding: 30px 5px 10px;
    display: inline;
    color: black;
    font-family: "Roboto Medium";
}
.con {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.img {
    margin-right: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
}

.pi {
    margin-top: 15px;
    text-align: center;
    font-family: "Roboto Medium", sans-serif;
}
h2 {
    display: inline;
    background-color: #FF7043;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.50em;
    font-family: 'Roboto Black', sans-serif;
}
.to {
    width: 820px;
    height: 1025px;
}
.mapa-fluid { 
    background-size: cover;
    position:sticky;
    height: auto; 
    margin: auto;
    display:table-caption
    
}
.fq {
    font-size: 2em;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
    
}
.nav-link {
    color: black !important;
    font-family: sans-serif !important;
}
.p2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Roboto Medium";
    font-size: small;
}
.oblique {
    font-style: oblique;
    font-family: "Roboto Medium";
}
.block {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    font-family: "Roboto Medium";
}
.aside {
    margin-top: 20px;
}

.rounded-circle{
    height: 70px;
    width: 70px;
    margin-right: 20px   
}

.estatico{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px   
}
.textohistoria{
    text-align: center;
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formulario {
    font-family: "Roboto Medium"; 
}
.nav-link:hover {
    font-weight: bold;
}
.especificacionesimagen{
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

}
  