@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

* {
  font-family: "roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: url(../imagenes/fondo.jpeg);
  background-repeat: repeat-x repeat-y;
}

.navbar {
  background-color: #90caf9 !important;
}

.navbar-toggler {
  border-color: black !important;
  border-width: 2px;
}
.nav-link {
  font-family: roboto, sans-serif;
  font-size: 1em;
}
.icono {
  margin-left: 10px;
  margin-right: 15px;
  height: 27px;
  width: 27px;
}

#miCarousel1 {
  width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#miCarousel {
  width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 10px;
  text-align: justify;
}
h1 {
  text-align: center;
  color: black;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
}
.col {
  background-color: #90caf9;
}
.futbot {
  color: #ffffff;
  background-color: #ff7043;
}
.icn {
  float: right;
  margin-bottom: auto;
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.icn:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.line {
  padding-bottom: 10px;
}
.ic {
  width: 30px;
  height: 30px;
}
.for {
  min-height: calc(100vh - 100px - 300px);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.container fluid {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p {
  padding: 30px 5px 10px;
  display: inline;
  color: black;
  font-family: "Roboto Medium";
}
.con {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.img {
  margin-right: 10px;
}
body {
  font-family: "Roboto", sans-serif;
}

.pi {
  margin-top: 15px;
  text-align: center;
  font-family: "Roboto Medium", sans-serif;
}
h2 {
  display: inline;
  background-color: #ff7043;
  color: black;
  text-align: center;
  padding: 5px 15px;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}
.to {
  width: 820px;
  height: 1025px;
}
.mapa-fluid {
  background-size: cover;
  position: sticky;
  height: auto;
  margin: auto;
  display: table-caption;
}
.fq {
  font-size: 2em;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.nav-link {
  color: black !important;
  font-family: sans-serif !important;
}
.p2 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Roboto Medium";
  font-size: small;
}
.oblique {
  font-style: oblique;
  font-family: "Roboto Medium";
}
.block {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  font-family: "Roboto Medium";
}
.aside {
  margin-top: 20px;
}

.rounded-circle {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.estatico {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../imagenes/banner.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}
.textohistoria {
  text-align: center;
  position: relative;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formulario {
  font-family: "Roboto Medium";
  text-align: justify;
}

label {
  padding-left: 0px !important;
}
 
.nav-link:hover {
  font-weight: bold;
}
.especificacionesimagen {
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}
.shopBtn {
  min-height: 34px;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background: #f89406;
  display: inline-block;
  padding: 0 12px;
  border: 0;
}
.btn-toolbar {
  padding-left: 3px;
}
.form-horizontal.qtyFrm .control-label span {
  font-size: 18px;
}
.alignR {
  text-align: right;
}

.thumbnail p {
  text-align: center;
}

.thumbnail h4 {
  line-height: 42px;
}
.thumbnail:hover {
  border: 1px solid #cacaca;
}
.thumbnail .caption {
  height: 200px;
  padding: 9px;
  color: #555555;
  background: #f3f2f2;
}
.thumbnail > a {
  display: block;
  text-align: center;
}
.thumbnail {
  position: relative;
  width: 250px;
  background: #fff;
}
.cntr {
  text-align: center;
}
h3 {
  font-size: 18px;
  line-height: 1.5em;
}
li {
  list-style-type: none;
}

.btn-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: content-box;
  text-align: center;
}

.btn {
  margin: 0px 15px 20px;
  background-color: #f89406;
  border-color: #ffffff;
}

.btn:hover {
  background-color: #ffffff;
  border-color: #f89406;
  color: #f89406;
}

.btn:active:focus {
  background-color: #ffffff !important;
  border-color: #f89406 !important;
  color: #f89406 !important;
  box-shadow: none !important;
}

.card.card-tabs .card-tools {
  margin: .3rem .5rem;
}
.card.card-outline-tabs .card-tools {
  margin: .5rem .5rem .3rem;
}
.card-header > .card-tools {
  float: right;
  margin-right: -0.625rem;
}

.card-header > .card-tools .input-group,
.card-header > .card-tools .nav,
.card-header > .card-tools .pagination {
  margin-bottom: -0.3rem;
  margin-top: -0.3rem;
}

.card-header > .card-tools [data-toggle="tooltip"] {
  position: relative;
}
.post .user-block {
  margin-bottom: 15px;
  width: 100%;
}
.user-block {
  float: left;
}

.user-block img {
  float: left;
  height: 40px;
  width: 40px;
}

.user-block .username,
.user-block .description,
.user-block .comment {
  display: block;
  margin-left: 50px;
}

.user-block .username {
  font-size: 16px;
  font-weight: 600;
  margin-top: -1px;
}

.user-block .description {
  color: #6c757d;
  font-size: 13px;
  margin-top: -3px;
}

.user-block.user-block-sm img {
  width: 1.875rem;
  height: 1.875rem;
}

.user-block.user-block-sm .username,
.user-block.user-block-sm .description,
.user-block.user-block-sm .comment {
  margin-left: 40px;
}

.user-block.user-block-sm .username {
  font-size: 14px;
}

.card {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.contacto-col-left {
  display: block !important;
  text-align: end !important;
}

#contacto {
  margin-top: 50px;
  margin-bottom: 260px;
}

.control-group {
  margin-bottom: 15px;
}

.textbox {
  width: 380px;
}